#navigation {
  display: grid;
  position: fixed;
  grid-template-columns: 10% 10% 40% 10% 10% 6% 4%;
  grid-template-rows: 5px 4rem 5px;
  grid-row-gap: 1rem;
  grid-column-gap: 1.6%;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 111, 119));
}

#homebutton {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  min-width: 3rem;
}

#friendsbutton {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  min-width: 3rem;
}

#searchbarcontainer {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  min-width: 1rem;
}

#searchbar {
  display: block;
  padding: 0 5%;
  height: 2.25rem;
  margin: 1rem 0 0 35%;
  min-width: 1rem;
  width: 50%;
}

#newsbutton {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  min-width: 3rem;
}

#profilebutton {
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  min-width: 2.5rem;
}

.navbutton {
  background: transparent;
  border: transparent;
}

#settings {
  grid-row: 2 / 3;
  grid-column: 6 / 7;
  min-width: 3rem;
}
#searchedusers {
  grid-column: 3 / 4;
  margin-top: 4.8rem;
  text-align: center;
  margin-left: 35%;

}

#thesearcheduser {
  background: white;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border: 5px rgb(240, 240, 240) solid;
  border-width: 0 5px 0 5px;
}